@charset "UTF-8";

/* 就活支援LPのCSS */

/* ========================
全体
======================== */

h2 {
  font-size: 2rem;
}

/* ========================
ヘッダー
======================== */

.lp-header {
  background-color: #fff8e5;
}
.lp-header-inner {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line-button {
  display: inline-block;
  color: #fff;
  background-color: #06C755;
  min-width: 326px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
}

/* ヘッダーロゴの設定はメインサイトと同じ */

/* ========================
メイン
======================== */

/* メイン全体、またはいくつかのセクションで共通部分 */
.content {
  padding: 60px 0;
}
.inner {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}
.inner .line-button-area {
  text-align: center;
}
.inner .line-button {
  min-width: 600px;
  font-size: 2rem;
  line-height: 2;
}
.main-phrase {
  margin-top: 100px;
  font-size: 3rem;
  line-height: 2;
}
.desc {
  margin-top: 50px;
  font-size: 1.5rem;
}

/*-- ファーストビュー --*/

.first-view {
  background-image: url(../img/jobhunting-support.jpeg);
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 50px;
  padding-left: 40px;
}
.lp-first-view-text {
  font-size: 2rem;
  width: 100%;
  max-width: 1200px;
}
.lp-first-view-text span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
.first-view p {
  font-size: 1.5rem;
  padding-left: 2em;
}

/*-- 「introduction」セクション --*/

.introduction {
  background-color: #eadebb;
}
h2 {
  text-align: center;
}
h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: #000;
  margin-top: 20px;
  margin: 0 auto;
}

/*-- 「Service」セクション --*/
.service {
  background-color: #FFF8E5;
}
.service-contents {
  margin-top: 100px;
}
.service-contents li {
  padding: 30px 50px;
  background-color: #fff;
}
.service-contents li:not(.service-contents li:nth-child(1)) {
  margin-top: 60px;
}
.service-contents li p{
  margin-top: 20px;
}

/*-- LINEボタンエリア --*/
.line-area {
  padding: 60px 0;
}
.line-area p {
  font-size: 2rem;
  text-align: center;
}
.line-area p::before {
  content: '↓';
}
.line-button-area {
  margin-top: 60px;
}

/*-- 「コーチングスクール」エリア --*/
.school {
  background-color: #EADEBB;
}

/*-- 「philosophy」エリア --*/
.philosophy {
  background-color: #FFF8E5;
}

/*-- 「consultation」エリア --*/
.message {
  font-size: 3rem;
  text-align: center;
  padding: 60px 0;
}
.desc-area {
  padding: 60px 0;
  background-color: #EADEBB;
}
.desc-area p {
  text-align: center;
  font-size: 2rem;
}
.desc-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 1100px;
  margin: 50px auto 0;
}
.desc-fa {
  font-size: 5em;
}
.desc-container dl {
  text-align: center;
  max-width: 218px;
}
.desc-container dl dt {
  font-size: 1.5rem;
  margin-top: 60px;
}
.desc-container dl dd {
  margin-top: 20px;
}