@charset "UTF-8";

/* 就活支援LPのCSS */

/* ========================
全体
======================== */

h2 {
  font-size: 2rem;
  text-align: center;
}
h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: #000;
  margin: 0.5em auto 0;
}

/* ========================
ヘッダー
======================== */

.lp-header {
  background-color: #fff8e5;
}
.lp-header-inner {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-line-button-area {
  position: fixed;
  right: 50px;
}

/* LINE誘導ボタン共通 */
.line-button {
  display: inline-block;
  color: #fff;
  background-color: #06C755;
  min-width: auto;
  padding: 0 1rem;
  line-height: 2.5;
  text-align: center;
  border-radius: 50px;
}

/* ヘッダーロゴの設定はメインサイトと同じ */

/* ========================
メイン
======================== */

/* メイン全体、またはいくつかのセクションで共通部分 */
.content {
  padding: 60px 0;
}
.inner {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

/* メインのLINE誘導エリア */
.inner .line-button-area {
  text-align: center;
}
.inner .line-button {
  min-width: 600px;
  font-size: 2rem;
}

.main-phrase {
  margin-top: 1em;
  font-size: 2.5rem;
  line-height: 2;
}
.desc {
  font-size: 1.5rem;
}

/*-- ファーストビュー --*/

.first-view {
  background-image: url(../img/jobhunting-support.jpeg);
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 50px;
  padding-left: 40px;
}
/* ファーストビューだけ改行を無効化 */
.first-view br {
  display: none;
}
.lp-first-view-text {
  font-size: 2rem;
  width: 100%;
  max-width: 1200px;
}
.lp-first-view-text span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
.first-view p {
  font-size: 1.5rem;
  padding-left: 2em;
}

/*-- 「introduction」セクション --*/

.introduction {
  background-color: #eadebb;
}

/*-- 「Service」セクション --*/
.service {
  background-color: #FFF8E5;
}
.service-contents {
  margin-top: 100px;
}
.service-contents li {
  padding: 30px 50px;
  background-color: #fff;
}
.service-contents li:not(.service-contents li:nth-child(1)) {
  margin-top: 60px;
}
.service-contents li p{
  margin-top: 20px;
}

/*-- LINE誘導エリア --*/
.line-area {
  padding: 60px 0;
}
.line-area p {
  font-size: 2rem;
  text-align: center;
}
.line-area p::before {
  content: '↓';
}
.big-line-button-area {
  margin-top: 40px;
}

/*-- 「コーチングスクール」エリア --*/
.school {
  background-color: #EADEBB;
}

/*-- 「philosophy」エリア --*/
.philosophy {
  background-color: #FFF8E5;
}

/*-- 「consultation」エリア --*/

/* 背景色の都合でinnerクラスを付与していない */
.message {
  font-size: 3rem;
  text-align: center;
  padding: 60px 0;
}
.desc-area {
  padding: 60px 0;
  background-color: #EADEBB;
}
.desc-area p {
  text-align: center;
  font-size: 2rem;
}
.desc-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 1100px;
  margin: 50px auto 0;
}
.desc-fa {
  font-size: 5em;
}
.desc-container dl {
  text-align: center;
  max-width: 218px;
}
.desc-container dl dt {
  font-size: 1.5rem;
  margin-top: 60px;
}
.desc-container dl dd {
  margin-top: 20px;
}

/*-- ボトムのLINE誘導エリア --*/

.bottom-line-area {
  background-image: linear-gradient(90deg, #EADEBB,#FFF8E5 );
}

@media screen and (max-width: 768px) {

  /* ========================
  全体
  ======================== */

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }

  /* ========================
  ヘッダー
  ======================== */

  .lp-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .lp-header-inner{
    height: 50px;
    position: relative;
    padding: 0 20px;
    justify-content: space-between;
  }
  .header-line-button-area {
    right: 20px;
    font-size: 0.8rem;
  }

  .header-line-button-area .line-button {
    padding: 0 1rem;
    line-height: 30px;
  }

  /* ========================
  メイン
  ======================== */

  /* メインのLINE誘導エリア */
  .inner .line-button {
    min-width: auto;
    font-size: 1rem;
  }

  .main-phrase {
    font-size: 2rem;
    line-height: 1.5;
  }
  .desc {
    margin-top: 2em;
    font-size: 1rem;
  }

  /*-- ファーストビュー --*/
  .first-view {
    /* メインCSSの記述 */

    background-image: url(../img/jobhunting-support-sp.jpeg);
    align-items: normal;
    gap: 50px;
    padding-left: 20px;
  }
  /* ファーストビューだけ改行を無効化 */
  .first-view br {
    display: block;
  }
  .lp-first-view-text {
    font-size: 1.5rem;
    width: 100%;
    max-width: 1200px;
  }
  .lp-first-view-text span {
    line-height: 2.5;
  }
  .first-view p {
    font-size: 1rem;
    padding-left: 1em;
  }

  /*-- 「Service」セクション --*/

  .service-contents {
    margin-top: 3em;
  }
  .service-contents li {
    padding: 1em 2em;
    background-color: #fff;
  }
  .service-contents li:not(.service-contents li:nth-child(1)) {
    margin-top: 1.8em;
  }
  .service-contents li p{
    margin-top: 0.8em;
  }

  /*-- LINE誘導エリア --*/
  .line-area {
    padding: 2em 0;
  }

  .line-area p {
    font-size: 1rem;
    text-align: center;
  }

  .line-area p::before {
    content: '↓';
  }

  .big-line-button-area {
    margin-top: 1em;
  }

  /*-- 「コーチングスクール」エリア --*/
  .school br {
    display: none;
  }


  .school .h2-heading {
    font-size: 1.1rem;
  }

  /*-- 「consultation」エリア --*/
  .message {
    font-size: 1.5rem;
    padding: 1.5em 0.5em;
  }
  .message br {
    display: none;
  }
  .desc-area {
    padding: 2em 1em 2em;
  }
  .desc-area p {
    text-align: left;
    font-size: 1.5rem;
  }
  .desc-container {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 1em auto 0;
  }
  .desc-container dl dt {
    font-size: 1.5rem;
    margin-top: 1em;
  }

}
