@charset "UTF-8";

/* PCファーストで記述 */

ul,
ol {
  list-style: none;
}

/* aセレクタをリセット */
a {
  color: inherit;
  text-decoration: none;
}

/* ========================
全体
======================== */

body {
  /* フォントファミリー */
  font-family: yu-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 400;

  font-size: 16px;
  color: #000;
  line-height: 1.5;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h2-with,
.cred-main,
.aboutus-cardtitle,
.aboutus-cardtitle-with {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 700;
}

img {
  max-width: 100%;
}

/* ========================
ヘッダー
======================== */

.header {
  background-color: #EADEBB;
}

.header-inner {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  font-size: 1.5rem;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin: 0 40px;
  font-size: 1rem;
}

.icon-list ul {
  display: flex;
}

.icon-list ul li {
  margin: 0 30px;
  font-size: 1.5rem;
}

.toggle-menu-button {
  display: none;
  width: 44px;
  height: 34px;
  background-image: url(./img/icon-menu.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ========================
メイン
======================== */

/*---- トップページ ----*/

/*-- ファーストビュー --*/
.first-view {
  height: calc(100vh - 80px);
  background-image: url(./img/sotto-top-firstview.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.first-view-text {
  font-size: 2.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-bottom: 250px;
}

/*-- 「ABOUT US」コンテンツ --*/
.aboutus {
  padding: 60px 0 60px;
  background-color: #fff;
}
.aboutus-inner {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}
.card-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
}
.aboutus-card {
  /*
  flex-shrink: 0;
  */
  width: 400px;
  padding: 30px 30px 20px 30px;
  margin: 0 auto;
  border: solid 1px #000;
}
.aboutus-cardtitle {
  font-size: 2rem;
  margin-top: 30px;
}
.aboutus-cardtitle-with {
  font-size: 1.5rem;
  margin-top: 10px;
}


/*-- 「SERVICE」コンテンツ --*/
.service {
  padding: 60px 0 120px;
  background-color: #f5f5f5;
}
.service-inner {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

/*---- 「ABOUT US」ページ ----*/

/*-- 「GREETING」コンテンツ --*/
.greeting {
  padding: 60px 0 60px;
  background-color: #fff;
}

.greeting-inner {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

/* 共通h2見出し */
.heading {
  text-align: center;
}
.heading h2 {
  color: #8EBA70;
  font-size: 3rem;
}
.h2-with {
  /* フォント指定に関しては「全体」で指定 */
  font-size: 2rem;
  margin-top: 30px;
}

.core-area {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-img {
  display: block;
  width: 350px;
  height: 415px;
  margin-right: 50px;
}
.core-area-text h3 {
  font-size: 2rem;
  text-align: center;
}
.core-area-textmain {
  margin-top: 50px;
}
.core-area-textmain p {
  margin-top: 1rem;
}
.representative-name {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 700;
}

.career {
  padding: 60px 0;
}
.career h3 {
  margin-bottom: 5px;
}

/*-- 「CRED」コンテンツ --*/
.cred {
  padding: 60px 0 120px;
  background-color: #F5F5F5;
}
.cred-inner {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}
.cred-main-wrapper {
  margin-top: 60px;
}
.cred-main {
  width: 878px;
  max-width: 90%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  font-size: 2rem;
  border: solid 5px #ff0000;
  border-radius: 20px;
}
.yellow-line {
  background-image: linear-gradient(transparent 70%, #ff6 30%);
  padding-bottom: 0.2rem;
}
.cred-sub {
  margin-top: 120px;
}
.cred-text-area:not(.cred-text-area-first) {
  margin-top: 70px;  
}
.cred-text-area h3 {
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.cred-text {
  font-size: 1.5rem;
}



/* ========================
フッター
======================== */

.footer {
  background-color: #EADEBB;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  font-size: 1.5rem;
}

.address {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.footer .icon-list-wrapper {
  margin-top: 20px;
}

.copyright {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {

  /* ========================
  全体
  ======================== */

  /* SP版では強制改行を無効化 */
  br {
    display: none;
  }

    /* ========================
  ヘッダー
  ======================== */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner{
    height: 50px;
    position: relative;
    padding: 0 20px;
    justify-content: space-between;
  }

  .header-logo {
    font-size: 1rem;
  }

  .site-menu-wrapper {
    padding: 30px 0 50px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #8eba70;
    display: none;
  }
  
  .site-menu-wrapper.is-show {
    display: block;
  }
  

  .site-menu {
    color: #fff;
  }

  .site-menu ul {
    display: block;
    text-align: center;
  }

  .site-menu ul li {
    margin: 20px 40px 0;
  }

  .icon-list-wrapper {
    display: flex;
    align-items: center;
  }

  .icon-list ul li {
    margin: 0 10px;
    font-size: 1rem;
  }

  .toggle-menu-button {
    display: block;
  }

  /* ========================
  メイン
  ======================== */

  .main {
    padding-top: 50px;
  }

  /*---- トップページ ----*/

  /*-- ファーストビュー --*/
  .first-view {
    height: calc(100vh - 50px);
    background-image: url(./img/sotto-top-firstview-sp.jpeg);
  }
  .first-view-text {
    font-size: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-bottom: 250px;
  }
  br {
    display: block;
  }

  /*-- 「ABOUT US」コンテンツ --*/
  .aboutus {
    padding: 30px 0;
  }
  .card-list {
    display: block;
    padding: 30px 0 0;
  }
  .aboutus-card {
    max-width: 100%;
  }
  .aboutus-card:not(.aboutus-card-first) {
    margin-top: 50px;
  }

  /*-- 「SERVICE」コンテンツ --*/
  .service {
    padding: 30px 0;
  }
  .card2 {
    display: block;
    margin: 30px auto 0;
  }
  .service-card {
    padding: 40px 0px 20px;
  }
  .service-card:not(.service-card-first) {
    margin-top: 50px;
  }
  .service-cardtitle {
    margin-top: 10px;
  }
  .service-img {
    width: auto;
    height: auto;
  }

  
  /*---- 「ABOUT US」ページ ----*/
  
  /*-- 「GREETING」コンテンツ --*/

  .greeting {
    padding: 30px 0;
  }

  .heading h2 {
    font-size: 2rem;
  }
  .h2-with {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .core-area {
    display: block;
    margin-top: 30px;
  }
  .profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 20%;
    margin: 0 auto;
  }
  .core-area-text h3 {
    font-size: 1.3rem;
    margin-top: 30px;
  }
  .core-area-textmain {
    margin-top: 0;
  }
  .career {
    padding: 30px 0;
  }

  /*-- 「CRED」コンテンツ --*/
  .cred {
    padding: 30px 0;
  }
  .cred-main-wrapper {
    margin-top: 30px;
  }
  .cred-main {
    max-width: 95%;
    font-size: 1rem;
    padding: 20px;
    text-align: left;
    border: solid 3px #ff0000;
  }
  .cred-sub {
    margin-top: 60px;
  }
  .cred-text-area:not(.cred-text-area-first) {
    margin-top: 40px;  
  }
  .cred-text-area h3 {
    margin-bottom: 15px;
    font-size: 1rem;
  }
  .cred-text {
    font-size: 1rem;
  }

  /* ========================
  フッター
  ======================== */

  .footer-logo {    
    font-size: 1.5rem;
  }

  .address {
    font-size: 1rem;
    margin-top: 20px;
  }

  .footer .icon-list-wrapper {
    margin-top: 20px;
  }

  .footer .icon-list ul li {
    font-size: 2.5rem;
  }

  .copyright {
    margin-top: 10px;
  }

}